<%- include('../partials/header') %>
<h2>Your Orders</h2>
<% if (orders.length === 0) { %>
  <p>You have no orders yet.</p>
<% } else { %>
  <ul>
    <% orders.forEach(order => { %>
      <li>
        <strong>Order #<%= order.id %></strong> - $<%= order.totalAmount %> - <%= order.status %>
        <ul>
          <% JSON.parse(order.items).forEach(i => { %>
            <li><%= i.name %> x <%= i.qty %> - $<%= i.price %></li>
          <% }) %>
        </ul>
      </li>
    <% }) %>
  </ul>
<% } %>
<%- include('../partials/footer') %>
